.p-relative {
  position: relative;
}

.searchIcon {
  font-size: 12px;
  position: absolute;
  top: 8px;
  left: 8px;
}

.select-Input {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(206, 206, 206);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.03), inset 0px 1px 5px 0px rgba(0, 0, 0, 0.06);
  height: 26px;
  padding-right: 10px;
}
